.card {
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.companyName {
    font-weight: 500;
    margin-top: 8px;
}

.location {
    color: #888;
    font-size: 0.9em;
    margin: 8px 0;
}

.description {
    margin: 16px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.applyButton {
    background-color: #007B;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;

}

.removeButton {
    background-color: #282c34;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.applyButton:hover {
    background-color: #0056b3;
}
